#root {
    /* max-width: 1280px; */
    margin: 0 auto;
    /* padding: 2rem; */
    text-align: center;

    /* TOAST */
    --toastify-color-light: #fff;
    --toastify-color-dark: #334571;
    --toastify-color-info: #3498db;
    --toastify-color-success: #37c53e;
    --toastify-color-warning: #f1c40f;
    --toastify-color-error: #f15959;
    --toastify-color-transparent: rgba(255, 255, 255, 0.7);

    --toastify-icon-color-info: var(--toastify-color-info);
    --toastify-icon-color-success: var(--toastify-color-success);
    --toastify-icon-color-warning: var(--toastify-color-warning);
    --toastify-icon-color-error: var(--toastify-color-error);

    --toastify-container-width: fit-content;
    --toastify-toast-width: 320px;
    --toastify-toast-offset: 16px;
    --toastify-toast-top: max(
        var(--toastify-toast-offset),
        env(safe-area-inset-top)
    );
    --toastify-toast-right: max(
        var(--toastify-toast-offset),
        env(safe-area-inset-right)
    );
    --toastify-toast-left: max(
        var(--toastify-toast-offset),
        env(safe-area-inset-left)
    );
    --toastify-toast-bottom: max(
        var(--toastify-toast-offset),
        env(safe-area-inset-bottom)
    );
    --toastify-toast-background: #fff;
    --toastify-toast-padding: 14px;
    --toastify-toast-min-height: 64px;
    --toastify-toast-max-height: 800px;
    --toastify-toast-bd-radius: 6px;
    --toastify-toast-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    --toastify-font-family: sans-serif;
    --toastify-z-index: 9999;
    --toastify-text-color-light: #757575;
    --toastify-text-color-dark: #fff;

    /* Used only for colored theme */
    --toastify-text-color-info: #fff;
    --toastify-text-color-success: #fff;
    --toastify-text-color-warning: #fff;
    --toastify-text-color-error: #fff;

    --toastify-spinner-color: #616161;
    --toastify-spinner-color-empty-area: #e0e0e0;
    --toastify-color-progress-light: linear-gradient(
        to right,
        #4cd964,
        #5ac8fa,
        #007aff,
        #34aadc,
        #5856d6,
        #ff2d55
    );
    --toastify-color-progress-dark: #bb86fc;
    --toastify-color-progress-info: var(--toastify-color-info);
    --toastify-color-progress-success: var(--toastify-color-success);
    --toastify-color-progress-warning: var(--toastify-color-warning);
    --toastify-color-progress-error: var(--toastify-color-error);
    /* used to control the opacity of the progress trail */
    --toastify-color-progress-bgo: 0.2;
}

/* src/styles.css o src/App.css */

/* Regular */
@font-face {
    font-family: "Comfortaa";
    src: url("./assets/fonts/Comfortaa-Regular.ttf") format("woff2"),
        url("./assets/fonts/Comfortaa-Regular.ttf") format("woff");
    font-weight: 400; /* Regular */
    font-style: normal;
}

/* Light */
@font-face {
    font-family: "Comfortaa";
    src: url("./assets/fonts/Comfortaa-Light.ttf") format("woff2"),
        url("./assets/fonts/Comfortaa-Light.ttf") format("woff");
    font-weight: 300; /* Light */
    font-style: normal;
}

/* Medium */
@font-face {
    font-family: "Comfortaa";
    src: url("./assets/fonts/Comfortaa-Medium.ttf") format("woff2"),
        url("./assets/fonts/Comfortaa-Medium.ttf") format("woff");
    font-weight: 500; /* Medium */
    font-style: normal;
}

/* Semi-Bold */
@font-face {
    font-family: "Comfortaa";
    src: url("./assets/fonts/Comfortaa-SemiBold.ttf") format("woff2"),
        url("./assets/fonts/Comfortaa-SemiBold.ttf") format("woff");
    font-weight: 600; /* Semi-Bold */
    font-style: normal;
}

/* Bold */
@font-face {
    font-family: "Comfortaa";
    src: url("./assets/fonts/Comfortaa-Bold.ttf") format("woff2"),
        url("./assets/fonts/Comfortaa-Bold.ttf") format("woff");
    font-weight: 700; /* Bold */
    font-style: normal;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

/* src/styles.css o src/App.css */

/* Usando la fuente regular para el cuerpo de la página */
body {
    font-family: "Karla", sans-serif;
    font-weight: 400; /* Regular */
}

/* Usando semi-bold para títulos o subtítulos */
h1,
h2,
h3 {
    font-family: "Karla", sans-serif;
    font-weight: 600; /* Semi-Bold */
}

/* Usando bold para los botones o destacados */
button,
strong {
    font-family: "Karla", sans-serif;
    font-weight: 700; /* Bold */
}

/* Usando extra-bold para títulos importantes */
h1 {
    font-family: "Karla", sans-serif;
    font-weight: 800; /* Extra-Bold */
}

/* Usando light para subtítulos o texto más fino */
h4,
h5,
h6,
.light-text {
    font-family: "Karla", sans-serif;
    font-weight: 300; /* Light */
}

/* Usando extra-light para textos finos y ligeros */
p {
    font-family: "Karla", sans-serif;
    font-weight: 200; /* Extra-Light */
}

/* src/styles.css o src/App.css */

/* Regular */
@font-face {
    font-family: "Karla";
    src: url("./assets/fonts/Karla-Regular.ttf") format("truetype");
    font-weight: 400; /* Regular */
    font-style: normal;
}

/* Light */
@font-face {
    font-family: "Karla";
    src: url("./assets/fonts/Karla-Light.ttf") format("truetype");
    font-weight: 300; /* Light */
    font-style: normal;
}

/* Medium */
@font-face {
    font-family: "Karla";
    src: url("./assets/fonts/Karla-Medium.ttf") format("truetype");
    font-weight: 500; /* Medium */
    font-style: normal;
}

/* Semi-Bold */
@font-face {
    font-family: "Karla";
    src: url("./assets/fonts/Karla-SemiBold.ttf") format("truetype");
    font-weight: 600; /* Semi-Bold */
    font-style: normal;
}

/* Bold */
@font-face {
    font-family: "Karla";
    src: url("./assets/fonts/Karla-Bold.ttf") format("truetype");
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

.main-container {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}
/* .bg-pattern {
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: radial-gradient(
        rgba(65, 78, 105, 0.144) 1px,
        transparent 0
    );
    background-size: 20px 20px;
    background-position: -5px -5px;
} */

/* Ocultar el input file original */
.hidden {
    display: none;
}

/* Estilos para el botón personalizado */
.upload-btn {
    background-color: #4caf50; /* Color de fondo */
    border: none; /* Sin bordes */
    color: white; /* Texto blanco */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño del texto */
    cursor: pointer; /* Cambio de cursor al pasar sobre el botón */
    border-radius: 5px; /* Bordes redondeados */
    text-align: center;
}

/* Agregar efectos al pasar el ratón */
.upload-btn:hover {
    background-color: #45a049; /* Color de fondo más oscuro al pasar el ratón */
}

::-webkit-file-upload-button {
    display: none;
}

.accordion-menu .ml-4 {
    display: none;
}

/* styles.css or Skeleton.css */
.skeleton-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.skeleton {
    background-color: #e0e0e0;
    animation: pulse 1.5s infinite ease-in-out;
    border-radius: 4px;
}

.skeleton-text {
    height: 20px;
    width: 80%;
    margin: 5px 0;
}

.skeleton-image {
    height: 150px;
    width: 100%;
}

@keyframes pulse {
    0% {
        background-color: #e0e0e0;
    }
    50% {
        background-color: #f2f2f2;
    }
    100% {
        background-color: #e0e0e0;
    }
}
